@import "compass";
@import "susy";
@import 'photoshop-drop-shadow';
$susy:(
	container :1000px,
	columns: 12,

  );

//@include layout(12 (80px 10px) static);
.wrap{
	@include container;
	min-width: 1000px;
}
.content{	
	
    padding: 0 0 $footerH;
   
	}







