
@include font-face("a_grotic", font-files("a_grotic.ttf", "a_grotic.eot","a_grotic.svg","a_grotic.woff"));
@include font-face("MGS65_bold", font-files("MGS65__U.ttf", "MGS65__U.eot","MGS65__U.svg","MGS65__U.woff"));
@include font-face("a_avantetck_medium", font-files("a_avantetck_medium.ttf", "a_avantetck_medium.eot","a_avantetck_medium.svg","a_avantetck_medium.woff"));
@include establish-baseline;
body{
	font-family: $base-font;	
	color: $base-font-color;
	font-size: $base-font-size;	
}

h1{
	font-family: "MGS65_bold";
	font-size: 55px;
	color: #fff;
	text-align: center;
	width: 460px;
	margin: auto;
	line-height: 55px;
	margin-bottom: 33px;
}

h2{	

	font-size: 32px;
	color: #29a6cf;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 33px;
	letter-spacing: 0.02em;
}
h3{
	@include adjust-font-size-to(30px);
	color: #ddd;
	text-align: center;
	margin-bottom: 55px;
}
h4{
	font-family: 'a_avantetck_medium';
	font-size: 20px;
	text-align: center;
	margin: 20px 0;
	line-height: 20px;

}

a{
	@include link-colors($normal, $hover);
	text-decoration: none;
}

p{
	line-height: 18px;
	margin-bottom: 20px;
}
sup{
	vertical-align: text-bottom;
}