$footerH : 120px; /*Высота футтера*/
$headrH : 110px; /*Высота хедера*/
$base-font-size: 16px;
$base-line-height : 25px;
$base-font: "a_grotic";
$base-font-color : #b7c8d2;
$footer-color : #294253;
/*Цвет ссылок*/
$normal: #d0d0d0;
$hover : #71e0ff;

[class^="ico-"]{
	display: inline-block;
}



//Названия бэков
//Пример заполнения (key1: value1, key2: value2, key3: value3);
$name : ('1':'','graf':'png','2':'','3':'' ,'4':'' ,'5':'','6':''  )!default;
